<header>
  <img src="https://orig00.deviantart.net/ecef/f/2012/077/d/b/danbo_love_by_danitaa-d4t530c.png" alt="">
  <div class="title">
    <h1>Most sold items on Amazon</h1>
  </div>
</header>
<section class="container" >
  <div class="tile" *ngFor="let item of items">
    <div class="itemName">
      <span>{{item.itemName}}</span> <br>
      <span class="price-circle">{{item.itemPrice}}$</span> <br>
      <img src="{{item.imagePath}}">
      <span style="font-size:9px">{{item.itemDescription}}</span>
    </div>
  </div>
</section>

